/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}
a:hover, li a:hover{
  color: #EE1289;
}
.siteTitle a{
  color: #EE1289;
  text-decoration: none;
  font-family: 'league gothic';
  font-size: 35px;
}
.container{
  width: 90%;
}
.blackbar{
  background-color: black;
  height: 30px;
  width: 100%;
  position: relative;
  margin: 25px 0;
}
.navigation{
  margin: 0 auto;
  width: 90%;
  height: 30px;
  display: block;
  font-weight: bold;
  list-style: none;
  padding: 0;
}
.navigation a{
  color: white;
  line-height: 1em;
  margin: 0 10px;
  text-decoration: none;
  font-size: 12px;
}
.navigation li{
  float: left;
  display: inline-block;
  padding: 5px 16px;
  text-align: center;
}
.topPart{
  padding: 0 5px;
}
.polaroid{
   background: url('../images/polaroid.png');
  background-repeat: no-repeat;
  background-position: cover;
  width: 100px;
  height: 117px;
  float: left;
  margin: 0 3px;
  cursor: pointer;
}
.polaroidImg{
  background: black;
  height: 71px;
  width: 81px;
  margin: 16px 10px;
}
.upcomingTrips{
  width: 100%;
  height: 150px;
  color: black;
  position: relative;
  float: right;
  text-align: center;
}
.tripsTitle{
  color: black !important;
  font-size: 30px;
}
.polaroidWrap{
  height: 100%;
  width: 330px;
  margin: 0 auto;
}
.thumbnail{
  height: 200px;
  background-color: black;
  margin: 1%;
  border: none;
  border-radius: 0;
}
.thumbnailTitle{
  height: 30px;
  width: 70%;
  background-color: white;
  text-decoration: none;
  color: #EE1289;
  display: block;
  bottom: 0;
  position: absolute;
  right: 0;
  padding-left: 6px;
}
.featuredTitle{
  margin-bottom: 20px;
}
.featuredImage{
    width: 100%;
    height: 320px;
    background: black;
   text-decoration: none;
}
.featuredPost{
  padding: 0;
}
.excerpt{
  font-family: arial;
  margin-top: 20px;
}
.postGallery{
  margin-top: 50px;
}
.pol1{
  background-repeat: no-repeat;
  background: url('../images/Polaroid1.jpg');
  background-size: cover;
}
.pol2{
  background-repeat: no-repeat;
  background: url('../images/Polaroid2.jpg');
  background-size: cover;
}
.pol3{
  background-repeat: no-repeat;
  background: url('../images/Polaroid3.jpg');
  background-size: cover;
}
.modalpolaroid{
  height: 300px;
  width: 300px;
  margin: 20px auto 0;
  position: relative;
}
.modal-content{
  margin: 0 auto;
  width: 350px;
  background: #D2CEC2;
}
.modal-lg{
  width: 350px;
}
.polExcerpt{
  margin: 0;
  width: 348px;
  height: 60px;
  background: #bcb096;
  padding: 4px 27px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 940px;
  }
  .siteTitle{
    padding-left: 30px;
  }
  .blackbar{
  background-color: black;
  height: 30px;
  width: 105%;
  position: relative;
  margin-top: 25px;
  margin-left: -23px;
  }
  .navigation{
    width: 100%;
    height: 30px;
    display: block;
    font-weight: bold;
    list-style: none;
    padding: 0;
  }
  .navigation a{
    color: white;
    line-height: 1em;
    margin: 0 10px;
    text-decoration: none;
    font-size: 12px;
  }
  .navigation li{
    float: left;
    display: inline-block;
    padding: 5px 25px;
    text-align: center;
  }
  .col-md-3-thumb{
    width: 23%;
  }
  .topPart{
    height: 560px;
    padding: 0 15px;
  }
  .featuredImage{
    width: 100%;
    height: 320px;
    background: black;
    /*height: auto;*/
    text-decoration: none;
  }
  .instagram{
    /*width: 100%;*/
  }
  .upcomingTrips{
      width: 100%;
      height: 150px;
      color: black;
      position: relative;
      float: right;
  }
  .polaroidWrap{
    height: 100%;
    width: 318px;
    margin: 0 auto;
  }
 
  .postGallery{
    margin-top: 0;
  }
  .thumbnail{
    height: 150px;
  }
  .thumbnailTitle{
    margin-left: 46px;
    margin-top: 116px;
    opacity: 0;
    width: 80%;
  }
  .modal-lg{
    width: 480px;
  }
  .modal-content{
    margin: 0 auto;
    width: 480px;
    background: #D2CEC2;
  }
  .modalpolaroid{
    height: 400px;
    width: 400px;
    margin: 40px auto 0;
    position: relative;
  }
  .polExcerpt{
    margin: 0;
    width: 478px;
    height: 80px;
    background: #bcb096;
    padding: 4px 39px;
  }
}
